<%- include('./layouts/header') %>

  <!-- <div class="homepage-container">
    <div>
        <header>
            <h1 class="homepage-heading"><%= title %></h1>
        </header>
        <p class="homepage-paragraph">Thanks for stopping by! This is just a simple home page created for practice
            purposes.</p>
    </div>
</div> -->
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;
    }

    .button {
      margin: 5px 0;
    }
  </style>
  <div class="buttons-container">
    <a class="button" href="/">Home</a>
    <a class="button" href="scores/">Coins</a>
    <a class="button" href="balance/">Balance</a>
    <!-- <a class="button" href="/sections/locations">Location/Section</a>
    <a class="button" href="/sections/IT">SectionTT</a>
    <a class="button" href="/periods/64c4b2a7d9a8d9cba47051bf">Teacher Periods</a>
    <a class="button" href="/periods/64c4b2a7d9a8d9cba47051bf/update">Teacher PeriodsUpdate</a>
    <a class="button" href="/profile/64c4b2a7d9a8d9cba47051bf">Teacher Profile</a>
    <a class="button" href="/teachers/idle-periods">All IdlePeriods</a>
    <a class="button" href="/teachers/leave-periods">All LeavePeriods</a>
    <a class="button" href="/teachers/idle">All IdlePeriods</a>
    <a class="button" href="/teachers/busy">All BusyPeriods</a>
    <a class="button" href="/teachers/substitution">All SubstitutionPeriods</a>
    <a class="button" href="/notifications">Notifications</a>
    <a class="button" href="/sections/IT">TimeTable</a>
    <a class="button" href="/periods/64c4b2a7d9a8d9cba47051bf">Teacher Periods</a>
    <a class="button" href="/periods/64c4b2a7d9a8d9cba47051bf/update">Teacher PeriodsUpdate</a>
    <a class="button" href="/profile/64c4b2a7d9a8d9cba47051bf">Teacher Profile</a>
    <a class="button" href="/messages/64c4b2a7d9a8d9cba47051bf">Messages</a> -->
  </div>


  <%- include('./layouts/footer') %>