<%- include('./layouts/header') %>

    <div class="container">

        <h2>Select Login Form</h2>

        <a href="/auth/login/admin"><button>ADMIN</button></a>
        <a href="/auth/login/user"><button>USER</button></a>

    </div>

    <%- include('./layouts/footer') %>