<%- include('./layouts/header') %>

    <div class="container">

        <h2>Select Registration Form</h2>

        <a href="/auth/register/admin"><button>ADMIN</button></a>
        <a href="/auth/register/user"><button>User</button></a>

    </div>

    <%- include('./layouts/footer') %>